---
import { getRelativeLocaleUrl } from "astro:i18n";
import type { languages } from "../../i18n/ui";
import { useTranslations } from "../../i18n/utils";

interface Props {
    lang?: keyof typeof languages;
}

const { lang = "vi" } = Astro.props;
const translate = useTranslations(lang);
---

<nav
    class="relative w-full flex flex-col lg:flex-row items-center justify-center p-8 border-b-2 border-zinc-300 dark:border-zinc-700 bg-zinc-100 dark:bg-zinc-900 text-zinc-800 dark:text-zinc-100"
>
    <div
        class="w-full lg:w-3/4 xl:w-3/5 flex items-center justify-between leading-6"
    >
        <a href={getRelativeLocaleUrl(lang, "/")} class="font-bold text-2xl no-underline hover:underline"
            >Rainboot</a
        >

        <div class="flex items-center lg:hidden" id="menu-button">
            <button
                type="button"
                class="relative inline-flex items-center justify-center rounded-md p-2 text-zinc-800 dark:text-zinc-100 hover:text-zinc-100 hover:bg-zinc-800 dark:hover:bg-zinc-100 dark:hover:text-zinc-800"
            >
                <svg
                    class="block h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    aria-hidden="true"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
                </svg>
            </button>
        </div>

        <div class="hidden lg:block" id="desktop-menu">
            <a
                href={getRelativeLocaleUrl(lang, "/about")}
                class="py-2 px-4 rounded-md text-sm font-semibold hover:text-cyan-600 dark:hover:text-blue-600"
            >
                {translate("navbar.about")}
            </a>

            <a
                href="/signin"
                class="ml-2 py-2 px-4 rounded-md text-sm font-semibold bg-cyan-500 dark:bg-blue-700 hover:bg-cyan-600 hover:text-zinc-100 dark:hover:bg-blue-900"
            >
                {translate("navbar.signin")}
            </a>
        </div>
    </div>

    <div class="hidden w-full mt-6" id="mobile-menu">
        <div class="space-y-1">
            <a
                href={getRelativeLocaleUrl(lang, "/about")}
                class="block mb-2 p-2 rounded-md text-base font-medium text-zinc-800 dark:text-zinc-100 hover:bg-cyan-500 dark:hover:bg-blue-600"
                aria-current="page">{translate("navbar.about")}</a
            >
            <a
                href="/signin"
                class="block mt-2 p-2 rounded-md text-base font-medium text-zinc-800 dark:text-zinc-100 hover:bg-cyan-500 dark:hover:bg-blue-600"
                >{translate("navbar.signin")}</a
            >
        </div>
    </div>

    <script is:inline>
        function getStyle(element, name) {
            return element.currentStyle
                ? element.currentStyle[name]
                : window.getComputedStyle
                  ? window
                        .getComputedStyle(element, null)
                        .getPropertyValue(name)
                  : null;
        }

        document.getElementById("menu-button").addEventListener("click", () => {
            const navLinks = document.getElementById("mobile-menu");
            const isMenuHidden = getStyle(navLinks, "display") === "none";
            navLinks.style.display = isMenuHidden ? "block" : "none";
        });

        window.addEventListener("resize", (e) => {
            const TAILWIND_LG_BREAKPOINT = 1024;
            const desktopMenu = document.getElementById("desktop-menu");
            const mobileMenu = document.getElementById("mobile-menu");

            const isLandscape = window.innerWidth >= TAILWIND_LG_BREAKPOINT;
            if (isLandscape) {
                desktopMenu.style.display = "flex";
                mobileMenu.style.display = "none";
            } else {
                desktopMenu.style.display = "none";
            }
        });
    </script>
</nav>
