---
---

<div class="fixed -z-10 w-full h-full p-4 lg:p-8 flex items-center">
    <div class="shrink-0 hidden lg:block w-[300px]"></div>

    <div class="grow h-full flex flex-col items-center">
        <div class="h-[48px] lg:h-[88px]"></div>

        <main class="grow w-full flex flex-col items-center justify-start">
            <slot />
        </main>
    </div>
</div>
