---
---

<div class="relative z-0 overflow-y-scroll w-full h-full px-4 lg:px-8 flex items-center">
    <div class="shrink-0 hidden lg:block w-[300px]"></div>

    <div class="grow h-full flex flex-col items-center">
        <main class="grow w-full flex flex-col items-center justify-start">
            <slot />
        </main>
    </div>
</div>
