---
import { auth, db } from "../../../database/databaseUtils";
import type { ID } from "../../../database/models";
import type { languages } from "../../../i18n/ui";
import { useTranslations } from "../../../i18n/utils";

interface Props {
    userId?: ID;
    lang?: keyof typeof languages;
    currency?: string;
}

const {
    currency = "đ",
    lang = "vi",
    userId = await auth.user.getId(),
} = Astro.props;
const translate = useTranslations(lang);

const { data: totalSaving, error: totalSavingError } =
    await db.function.getTotalSaving(userId);
if (totalSavingError) {
    console.error({ totalSavingError });
    return Astro.redirect("/500");
}
---

{
    totalSaving && (
        <article class="w-full min-w-fit rounded-xl p-4 lg:p-8 flex flex-col items-start justify-start bg-zinc-200 dark:bg-zinc-700">
            <h2 class="w-full mb-4 font-medium text-xl lg:text-2xl text-zinc-600 dark:text-zinc-300">
                {translate("dashboard.goals.total-saved")}
            </h2>

            <div class="grow w-full flex items-center justify-start">
                <div
                    class="w-full h-full py-2 flex items-center justify-center"
                    title={`${translate("dashboard.goals.total-saved")}: ${totalSaving ? totalSaving : "N/A"} ${currency}`}
                >
                    <span class="max-w-full truncate font-extrabold text-5xl sm:text-7xl xl:text-6xl">
                        {totalSaving ? totalSaving : "N/A"}{" "}
                        {currency}
                    </span>
                </div>
            </div>

            <span class="w-full mt-4 text-right text-base">
                {translate("dashboard.goals.encouragement")}
            </span>
        </article>
    )
}
