---
export const prerender = true;

import { getRelativeLocaleUrl } from "astro:i18n";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import Basehead from "../layouts/basehead.astro";
import OAuthButton from "../components/signin/oauthButton.astro";
import LoginField from "../components/signin/loginField.astro";
import type { LoginErrorResponse } from "../database/models";

const { cookies } = Astro;
const lang = getLangFromUrl(Astro.url);
const translate = useTranslations(lang);

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");
const loginError = cookies.get("login-error");

if (accessToken && refreshToken) {
    return redirect("/dashboard");
}

let displayLoginError = false;
let errorResponse = undefined;

if (loginError) {
    displayLoginError = true;
    errorResponse = JSON.parse(loginError.value) as LoginErrorResponse;

    console.log(errorResponse)
    const isNotClientsideError = (
        errorResponse.error &&
        errorResponse.error.status &&
        errorResponse.error.status !== 400
    );
    if (isNotClientsideError) {
        return Astro.redirect(getRelativeLocaleUrl(lang, "/500"));
    }
}
---

<html lang={lang}>
    <head>
        <Basehead title={translate("signin.title")} />
    </head>

    <body class="selection:bg-cyan-500 dark:selection:bg-blue-900">
        <main
            class="w-svw h-svh p-8 flex flex-col items-center justify-center bg-zinc-100 dark:bg-zinc-900 text-zinc-800 dark:text-zinc-100"
        >
            <aside class="w-full flex items-center justify-start">
                <a
                    href={getRelativeLocaleUrl(lang, "/")}
                    class="font-bold text-xl hover:text-cyan-500 dark:hover:text-blue-600"
                    >Rainboot</a
                >
            </aside>

            <div
                class="w-full sm:w-1/2 lg:w-1/3 h-full flex flex-col items-start justify-center"
            >
                <header class="mb-10 w-full">
                    <h1 class="font-bold text-3xl md:text-4xl mb-2">
                        {translate("signin.header.title")}
                    </h1>
                    <p
                        class="text-sm md:text-base text-zinc-600 dark:text-zinc-300"
                    >
                        {translate("signin.header.subtitle")}
                    </p>
                </header>

                <div class="w-full">
                    <form
                        action="/api/auth/signin"
                        method="POST"
                        class="w-full flex flex-col items-center justify-center gap-8"
                    >
                        <OAuthButton
                            text={translate("oauth.google")}
                            hint={translate("oauth.google")}
                            provider={"google"}
                            ><svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="currentColor"
                                class="bi bi-google size-[5.25%] xl:size-[4.5%]"
                                viewBox="0 0 16 16"
                            >
                                <path
                                    d="M15.545 6.558a9.4 9.4 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.7 7.7 0 0 1 5.352 2.082l-2.284 2.284A4.35 4.35 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.8 4.8 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.7 3.7 0 0 0 1.599-2.431H8v-3.08z"
                                ></path>
                            </svg></OAuthButton
                        >
                        <OAuthButton
                            text={translate("oauth.facebook")}
                            hint={translate("oauth.facebook")}
                            provider={"facebook"}
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="currentColor"
                                class="bi bi-facebook size-[5.25%] xl:size-[4.5%]"
                                viewBox="0 0 16 16"
                            >
                                <path
                                    d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951"
                                ></path>
                            </svg>
                        </OAuthButton>
                    </form>

                    <div class="flex items-center justify-between gap-2">
                        <hr
                            class="w-full mx-0 my-8 border-zinc-400 dark:border-zinc-600"
                        />
                        <p class="text-sm font-semibold text-zinc-800 dark:text-zinc-50">
                            Hoặc
                        </p>
                        <hr
                            class="w-full mx-0 my-8 border-zinc-400 dark:border-zinc-600"
                        />
                    </div>

                    <form
                        action="/api/auth/signin"
                        method="POST"
                        class="w-full flex flex-col items-center justify-center gap-4"
                    >
                        {
                            displayLoginError && (
                                <p class="font-bold text-rose-500 dark:text-rose-400">
                                    {translate("signin.error")}
                                </p>
                            )
                        }

                        <LoginField
                            type="email"
                            label={translate("signin.email")}
                            placeholder={translate("signin.email.placeholder")}
                            value={errorResponse?.email}
                        />
                        <LoginField
                            type="password"
                            label={translate("signin.password")}
                            placeholder={translate(
                                "signin.password.placeholder"
                            )}
                        />

                        <button
                            type="submit"
                            title={translate("signin.login-button.hint")}
                            class="w-full p-3 mt-8 text-base rounded-md font-semibold bg-cyan-500 dark:bg-blue-700 hover:bg-cyan-600 hover:text-zinc-100 dark:hover:bg-blue-900"
                            >{translate("signin.login-button.text")}</button
                        >
                    </form>
                </div>
            </div>

            <div
                class="text-xs w-full md:w-1/2 lg:w-1/3 text-zinc-600 dark:text-zinc-400"
            >
                <p class="text-pretty text-center">
                    {translate("signin.legal.by-continuing")}
                    <a
                        href={getRelativeLocaleUrl(lang, "/terms")}
                        class="underline"
                    >
                        {translate("terms")}
                    </a>
                    &
                    <a
                        href={getRelativeLocaleUrl(lang, "/privacy")}
                        class="underline"
                    >
                        {translate("privacy")}
                    </a>
                    {translate("signin.legal.of-rainboot")}
                </p>
            </div>
        </main>
    </body>
</html>
