---
import { auth, db } from "../../../database/databaseUtils";
import type { ID } from "../../../database/models";
import type { languages } from "../../../i18n/ui";
import { useTranslations } from "../../../i18n/utils";
import Category from "../category.astro";

interface Props {
    userId?: ID;
    lang?: keyof typeof languages;
}

const { lang = "vi", userId = await auth.user.getId() } = Astro.props;
const translate = useTranslations(lang);

const { data: categories, error: categoriesError } =
    await db.select.category(userId);
if (categoriesError) {
    console.error(categoriesError);
    return Astro.redirect("/500");
}
---

{
    categories.length > 0 && (
        <div class="w-full h-full flex flex-col items-center justify-start gap-4">
            <div class="w-full h-full flex flex-col items-start justify-start gap-2 lg:gap-2">
                {categories &&
                    categories.map((category) => (
                        <Category category={category} />
                    ))}
            </div>
        </div>
    )
}

{
    categories.length == 0 && (
        <div class="min-h-[65svh] w-full h-full flex flex-col items-center justify-center gap-4">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                class="bi bi-tags-fill h-[15svh] aspect-square fill-zinc-500"
                viewBox="0 0 16 16"
            >
                <path d="M2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586zm3.5 4a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3" />
                <path d="M1.293 7.793A1 1 0 0 1 1 7.086V2a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l.043-.043z" />
            </svg>

            <div class="w-full mt-4 flex flex-col items-center justify-center gap-2 font-medium text-lg text-zinc-500">
                <span class="inline-block">
                    {translate("dashboard.no.category")}.
                </span>
                <span class="inline-block">
                    {translate("dashboard.item.create")}
                </span>
            </div>
        </div>
    )
}
