---
import { auth, db } from "../../../database/databaseUtils";
import type { ID } from "../../../database/models";
import type { languages } from "../../../i18n/ui";
import { useTranslations } from "../../../i18n/utils";
import Category from "../category.astro";

interface Props {
    userId?: ID;
    lang?: keyof typeof languages;
}

const { lang = "vi", userId = await auth.user.getId() } = Astro.props;
const translate = useTranslations(lang);

const { data: categories, error: categoriesError } =
    await db.select.category(userId);
if (categoriesError) {
    console.error(categoriesError);
    return Astro.redirect("/500");
}
---

<div class="w-full h-full flex flex-col items-center justify-start gap-4">
    <div class="w-full h-full flex flex-col items-start justify-start gap-2 lg:gap-2">
        {
            categories && categories.map((category) => (
                <Category category={category} />
            ))
        }
    </div>
</div>
