---
interface Props {
    text: string;
    isTransactionForm?: boolean;
}
const { text, isTransactionForm = false } = Astro.props;
---

<div
    class="sticky bottom-4 w-full lg:hidden flex items-center justify-center"
>
    <button
        type="submit"
        id={isTransactionForm ? "mobile-form-submit-button" : undefined}
        class="w-full py-2 px-4 rounded-md font-medium bg-cyan-500 hover:bg-cyan-600 dark:bg-blue-700 dark:hover:bg-blue-900 text-zinc-800 dark:text-zinc-100"
    >
        {text}
    </button>

    {isTransactionForm && (
        <script is:inline>
            const mobileSubmitButton = document.getElementById("mobile-form-submit-button");
            const submitButton = document.getElementById("form-submit-button");
            const transactionForm = document.getElementById("transaction-form");
            const accountsLength = document.getElementById("accounts-length").innerHTML;
            const categoriesLength = document.getElementById("categories-length").innerHTML;

            mobileSubmitButton.addEventListener("click", (e) => {
                e.preventDefault();

                if (accountsLength === "0" || categoriesLength === "0") {
                    alert("Vui lòng tạo tài khoản và danh mục trước khi tạo giao dịch");
                    return;
                }
                transactionForm.submit();
            });

            submitButton.addEventListener("click", (e) => {
                e.preventDefault();

                if (accountsLength === "0" || categoriesLength === "0") {
                    alert("Vui lòng tạo tài khoản và danh mục trước khi tạo giao dịch");
                    return;
                }
                transactionForm.submit();
            })
        </script>
    )}
</div>
